<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>com.aliexpress</groupId>
		<artifactId>aliexpress-parent</artifactId>
		<version>3-SNAPSHOT</version>
	</parent>

	<groupId>$lib.groupId</groupId>
	<artifactId>$lib.artifactId</artifactId>
	<version>$lib.version</version>
	<packaging>jar</packaging>
	<name>$lib.name</name>

	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<file_encoding>UTF-8</file_encoding>
	</properties>

	<dependencies>
	#for $temp in $lst:
		<dependency>
			<groupId>$temp.groupId</groupId>
			<artifactId>$temp.artifactId</artifactId>
			<version>$temp.version</version>
		#if $temp.exclusions:
			<exclusions>
			#for $exc in $temp.exclusions:
				<exclusion>
					<groupId>$exc.groupId</groupId>
					<artifactId>$exc.artifactId</artifactId>
				</exclusion>
			#end for
			</exclusions>
		#end if
		</dependency>
	#end for
	</dependencies>
</project>
